body {
	background-image: url('images/mountain-lg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}

.navbar {
	min-height: 3em;
	background: transparent;
	border-width: 0;
}

.navbar-header {
	text-align: center;
	float: none;
}

.navbar-header  > a {
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
}

#navbarItems {
	padding-top: 1em;
}

.outer {
	display: table;
	position: fixed;
	height: 100%;
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	width: 550px;
}

#profilePic {
	max-height: 250px;
	border-radius: 50%;
	box-shadow: 3px 3px 1px rgba(5, 5, 5, 0.45);
}

#homeTextBlock {
	display: inline-block;
	padding-left: 2em;
}

#schoolDiv, #schools {
	margin-top: 50px;
}

.schoolPic {
	max-width: 100%;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.schoolDetails {
	margin-top: 1em;
	padding: 1.5em;
	background-color: rgba(204, 204, 204, 0.4);
}

.schoolName {
	font-size: 22px;
	text-align: center;
}

.classTitle {
	font-size: 14px;
	text-align: center;
}