<div class='container' id='aboutDiv'>
	<h2>About Me</h2>
	<div class='row' id='picDiv'>
		<div class='col-sm-3 col-xs-6'>
			<img class='mePic' ng-src= 'images/tower.jpg' />
		</div>
		<div class='col-sm-3 col-xs-6'>
			<img class='mePic' ng-src= 'images/race.jpg' />	
		</div>
		<div class='col-sm-3 col-xs-6'>
			<img class='mePic' ng-src= 'images/boarding.jpg' />
		</div>
		<div class='col-sm-3 col-xs-6'>
			<img class='mePic' ng-src= 'images/hike.jpg' />
		</div>
	</div>
	<div id='aboutText'>
		<p>
			My name is Alex Troup&eacute; and I laugh at my own jokes. My jokes either get everyone around me laughing and I partake in the fruits of my humorous labor, or I am the only one laughing. I often try to pretend that the former occurs far more often. I am a season ticket holder for the Seattle Sounders FC and geek out when someone wants to talk about anything having to do with soccer. In my free time I try to get out and hike as much as my Netflix account will allow me. I also am in the process of learning Dutch for no reason other than "why not", and to talk to the roughly 0.38% of people on Earth who speak it. 
		</p>
		<p>
			I am passionate about technology. I am determined to use that passion to work at a company where I feel like I am making a valuable contribution not only to the company, but to the world as a whole. Whether I am putting my focus and energy towards development work, database work, or any other IT related work, I am very detail oriented and enjoy the challenge of working through a new technology, debugging my code, and feeling like I ha.
		</p>
	</div>
</div>