<!--The content for the contact page-->
<div id='contactDiv'>
	<h2>Contact Me</h2>
	<div id='contactText'>
		<div id='contactContent'>
			<p>
				If you like what you see, send me an email with your inquiry. If you are into more old-fashioned methods of communication, you still need to email me, but then by request I may:
			</p>
			<p class='contactOptions'>
				1. Send you an article of clothing or some object with my distinct aroma so that a well-trained blood hound can identify my scent and locate me.
			</p>
			<p class='contactCentered'>
				or
			</p>
			<p class='contactOptions'>
				2. Send the postal address of a nearby establishment with the necessary avian infrastructure so that a carrier pigeon may deliver your query to me.
			</p>
			<p class='contactCentered'>
				<a href='mailto:adtroupe@uw.edu'>adtroupe@uw.edu</a>
			</p>
		</div>
	</div>	
</div>