<div class='container' id='workDiv'>
	<h2>Work Experience</h2>
	<div ng-repeat='job in workInfo' class='row job'>
		<div class='col-xs-12 col-sm-3' id='companyPicDiv'>
			<img ng-src="{{job.companyPic}}" class='companyPic'>
		</div>

		<div class='workText col-xs-12 col-sm-9'>
			<h3>{{job.employer}}</h3>
			<h4>{{job.dept + ' - ' + job.title}}</h4>
			<p>{{job.start_month + ' ' + job.start_year + ' - ' + job.end_month + ' ' + job.end_year}}</p>
			<ul>
				<li ng-repeat='task in job.tasks'>{{task}}</li>
			</ul>
		</div>

	</div>
</div>